<div class="main_app">
    <header>Spicy Sam</header>
    <div style="flex-grow: 1">
    <router-outlet class="main_app_content"></router-outlet>
  </div>
    <div class="container-router">
      <div class="phone">
        <input type="radio" name="s" id="s1" routerLink="orders">
        <input type="radio" name="s" id="s2" checked="checked" routerLink="/">
        <input type="radio" name="s" id="s3"routerLink="table-bookings">
        <label for="s1"routerLink="orders"><img src="assets/images/order.svg" alt=""></label>
        <label for="s2"routerLink="/"><img src="assets/images/menu.svg"></label>
        <label for="s3"routerLink="table-bookings"><img src="assets/images/waiter.svg" alt=""></label>
        <div class="circle"></div>
        <div class="phone_content">
          <div class="phone_bottom">
            <span class="indicator"></span>
          </div>
        </div>
      </div>
    </div>
  </div>